/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 16px 45px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav img {
    padding: 11px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

.rightnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    margin-top: 50px; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2%;
  }
  
  .rightnav img {
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .rightnav a {
    padding: 6px 8px 16px 6px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }